<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="21"
    android:versionName="6.01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MofaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_mofa_main"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditPreferences"
            android:label="@string/app_name" />
        <activity
            android:name=".EditPreferences_Honey"
            android:label="@string/app_name" />
        <activity
            android:name=".WorkOverviewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WorkEditTabActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WorkSelectLandActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WorkSelectWorkerActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WorkSelectMachineActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WorkSelectSoilFertilizerActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WorkProductTabActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".GPSLocationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PurchaseActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".DetailsDialog"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>

                <!-- Insert your app key after “db-  ...” -->
                <data android:scheme="db-kr7pjmpdjth06g0" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.WorkerOverviewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".dropbox.LoginActivity"
            android:label="@string/titleDropboxLoginActivity" />
        <activity android:name=".vegdata.VegDataActivity"></activity>
    </application>

</manifest>