<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.schmid.android.mofa"
    android:versionCode="7"
    android:versionName="2.1" >
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.vending.CHECK_LICENSE"/> 
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mofa_main"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light"
        android:name="it.schmid.android.mofa.MofaApplication" >
        <activity
            android:name="it.schmid.android.mofa.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
			android:name="it.schmid.android.mofa.EditPreferences"
			android:label="@string/app_name"/>
         <activity 
             android:name="it.schmid.android.mofa.EditPreferencesImport"
             android:label= "@string/app_name" />                 />
            
         <activity
			android:name="it.schmid.android.mofa.EditPreferences_Honey"
			android:label="@string/app_name"/>
         <activity
			android:name="it.schmid.android.mofa.WorkOverviewActivity"
			android:label="@string/app_name"/>
         
         <activity
			android:name="it.schmid.android.mofa.WorkEditTabActivity"
			android:label="@string/app_name"/>
         <activity
			android:name="it.schmid.android.mofa.WorkSelectLandActivity"
			android:label="@string/app_name"/>
         <activity
			android:name="it.schmid.android.mofa.WorkSelectWorkerActivity"
			android:label="@string/app_name"/>
          <activity
			android:name="it.schmid.android.mofa.WorkSelectMachineActivity"
			android:label="@string/app_name"/>
          <activity
			android:name="it.schmid.android.mofa.WorkSelectSoilFertilizerActivity"
			android:label="@string/app_name"/>
          <activity
			android:name="it.schmid.android.mofa.WorkProductTabActivity"
			android:label="@string/app_name"/>
         <activity
			android:name="it.schmid.android.mofa.GPSLocationActivity"
			android:label="@string/app_name"/>
         <activity
			android:name="it.schmid.android.mofa.PurchaseActivity"
			android:label="@string/app_name"/>
        <activity
            android:name="it.schmid.android.mofa.search.SearchActivity"
            android:label="@string/app_name"/>
         <activity
			android:name="it.schmid.android.mofa.DetailsDialog"
			android:theme="@android:style/Theme.Dialog"
			android:label="@string/app_name"
			android:excludeFromRecents="true" >
		</activity>
-
		<activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
		<activity
  		android:name="com.dropbox.client2.android.AuthActivity"
  		android:launchMode="singleTask" >
  		<intent-filter>
    		<data android:scheme="db-zgo2dupm3ung3u6" />
    		<action android:name="android.intent.action.VIEW" />
    		<category android:name="android.intent.category.BROWSABLE" />
    		<category android:name="android.intent.category.DEFAULT" />
  		</intent-filter>
		</activity>
		<service
  			android:name="com.dropbox.sync.android.DbxSyncService"
  			android:enabled="true"
  			android:exported="false"
  			android:label="Dropbox Sync" />
    </application>

</manifest>